*{
    margin: 0;
    padding: 0;
}
header{
    display: flex;
    background: #00AEFF;
    height: 130px;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}
.header1 {
    background: #009BDD;
    height: 45%;
    width: 25%;
}
.header2 {
    background: #36C3FF;
    height: 45%;
    width: 25%;
}


.main{
    height: 610px;
    display: flex;
    width: 100%;
}

.aside {
    flex-basis: 12%;
}
.navigation{
    background: #FF5607;
    flex-basis: 18%;
}
.main1 {
    margin: 10%;
    background: #E84900;
    color: #E84900;
    height: 7%;
}
.main_zero {
    margin: 10%;
    background: #E84900;
    color: #E84900;
    height: 7%;
}

.content {
    height: 610px;
    width: 57%;
    padding:10px 10px 0 10px;
}
.main-information {
    background: #FFBD00;
    width: 48%;
    height: 34%;
    position: relative;
    float: left;
    margin-right: 20px;
}
.main-tema {
    background: #9D9D9D;
    height: 4.5%;
    overflow: hidden;
    margin-bottom: 15px;
}
.text {
    background: #CECECE;
    height:3%;
    margin-bottom: 15px;
    overflow: hidden;
}
.footer {
    background: #00D169;
    height: 200px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.all-footers {
    height: 100%;
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.footer-box {
    background: #01B15A;
    height: 80%;
    width: 22%;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
}
.footer-text {
    background: #038042;
    height: 15%;
    width: 80%;
}
@media only screen and (max-width: 400px) {
    header {
        height: 70px;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    .aside {
        flex-basis: 1%;
    }
    .header1 {
        width: 96%;
        height: 33%;
        margin: 0;
    }
    .header2 {
        width: 96%;
        height: 33%;
        margin: 0;
    }
    .main_zero{
        display: none;
    }
    .main {
        flex-wrap: wrap;
        height: 800px;
    }

    .navigation {
        flex-basis: 100%;
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;

    }
    .main1 {
        display: flex;
        margin: 0;
        height: 60px;
        width: 27%;


    }
    .content {
        width: 100%;
        padding:0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .main-information {
        width: 100%;
        height: 300px;
        margin-right: 0px;
    }
    .main-tema{
        height: 30px;
        width: 94%;
        margin-top: 5%;
    }
    .text {
        height: 25px;
        width: 94%;
    }
    .footer {
        width: 100%;
        height: 140px;
        margin: 0;
    }
    .all-footers {
        display: flex;
        height: 140px;
        width: 96%;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    .footer-box {
        display: flex;
        height: 20%;
        width: 97%;
        flex-direction: column;
        justify-content:space-around;
        align-items: flex-start;
    }
    .footer-text {
        height: 11px;
        width: 60%;
        margin-left: 3px;
    }
}

